*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: var(--font-default-size);
  line-height: 1;
}
:root {
  --font-default-size: 1.6rem;
}
